app:
  port: 6789 # Port the app will expose the metrics to
asf:
  ip: "198.178.162.XXX" # IP of the server hosting ASF
  port: 1242 # ASF default port
prometheus:
  prefix: "asf" # Prefix for Prometheus metrics
uptimekuma:
  ip: "" # OPTIONAL: Leave empty to not use Uptime Kuma
  port: 3001 # OPTIONAL: Only needed when setting Uptime Kuma URL. Uptime Kuma default port = 3001
  hearthbeat: 60 # OPTIONAL: Heartbeat interval in seconds